Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
cli/.deps/
cli/Makefile
cli/Makefile.in
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
examples/.deps/
examples/Makefile
examples/Makefile.in
install-sh
liballuris/.deps/
liballuris/Makefile
liballuris/Makefile.in
libtool
ltmain.sh
m4/
missing
